[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "lacunarity"]
	path = lacunarity
	url = https://github.com/ikarobarreto/lacunarity
